__pycache__/
*.py[cod]
*.log

# keep results directory but ignore its contents
results/*
!results/.gitkeep

# docker image exports / archives
*.tar
*.tar.gz

.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
*~

